<script
    type="text/javascript"
    src="{{site.baseurl}}/assets/js/zooom.min.js"
></script>
<script>
    window.addEventListener("DOMContentLoaded", function () {
        const popImgs = document.querySelectorAll("[data-img-class]");
        popImgs.forEach((e) => {
            console.log(e);
            e.classList.add(e.dataset.imgClass);
            e.removeAttribute("data-img-class");
            console.log(e);
        });
        setTimeout(() => {
            new Zooom("pop", { zIndex: 9, overlay: "rgba(255,255,255,0.8)" });
        }, 300);
    });
</script>
